<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionName="0.1"
          android:versionCode="1"
          package="novoda.widget">

    <application
            android:icon="@drawable/android:star_big_on"
            android:label="@string/app_name"
            android:debuggable="true">

        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <activity android:label="@string/app_name" android:name=".ActivityStub">
        </activity>

        <activity android:label="SimpleTextColumn" android:name=".SimpleTextColumn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="10"/>
</manifest>
